                @import '../node_modules/bootstrap/scss/bootstrap.scss';
                @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
                @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
                
                $nav-colour: #383838;
                $app-bg: #fff;
                $container-bg: #383838;
                $nav-bg: rgba(255,
                255,
                255,
                0.726);
                $header-color: #E5E5E5;
                $theme-colour: #6B4FA1;
                $woman-color: #d875af;
                $bg-color: #000000;
                $dot-color: #6a4fa19d; // Dimensions
                $dot-size: 1.5px;
                $dot-space: 24px;
                html{
    width: 100%;
block-size: fit-content;
}
                body {
                    background-color: $header-color;
                    font-family: 'Readex Pro', sans-serif;
                    overflow-y: unset;
                    scroll-behavior: smooth;
                    
                }
               
                .btn-royal{
                    background-color: #6B4FA1;
                }
                .text-royal{
                color: #6B4FA1;
                }
                .dotted {
                    padding: 2.25em 1.6875em;
                    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
                    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
                    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
                    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
                    -webkit-background-size: 3px 3px;
                    -moz-background-size: 3px 3px;
                    background-size: 3px 3px;
                }
                
                .bg-nav {
                    background-color: #e5e5e5;
                }
            
                .bg-img {
                    background-color: $dot-color;
                    border-radius: 1rem;
                }
                
                .transition-fade {
                    opacity: 1;
                    transition: linear 100ms;
                }
                
                html.is-animating .transition-fade {
                    opacity: 0;
                }
                
                #container {
                    height: 100%;
                    overflow-y: auto;
                    
                }
                
                #line1,
                #line2,
                #line3 {
                    
                    overflow-x: auto;
                    white-space: nowrap;
                    padding: 10px;
                    margin: 1px;
                    color:#ee2c2c;
                }
                
                .smallerDivs {
                    margin: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    background: #fff;
                }
                /* width */
                
                 ::-webkit-scrollbar {
                    width: 0.5px;
                }
                /* Track */
                
                 ::-webkit-scrollbar-track {
                    background: $header-color;
                }
                /* Handle */
                
                 ::-webkit-scrollbar-thumb {
                    background: $header-color;
                }
                /* Handle on hover */
                
                 ::-webkit-scrollbar-thumb:hover {
                    background: rgb(194, 194, 194);
                    border-radius: 20px;
                }
                
                .centerbutton {
                    position: relative;
                    right: 2rem;
                }
                
                .text-bold {
                    font-weight: 600;
                    text-align: center;
                    margin-top: 3px;
                }
                
                .navbar-nav {
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                }
                .btn{
                    font-family: 'Poppins', sans-serif;
                }
                .genders {
                    display: flex;
                }
                
                .gender-male {
                    width: 60px;
                    height: 60px;
                    cursor: inherit;
                    position: relative;
                    padding: 25px;
                    left: 2rem;
                    border: 2.5px solid #6B4FA1;
                    background-image: url("https://res.cloudinary.com/hairsnap/image/upload/v1639849414/Latest/male_o5v9pc.jpg");
                    background-position: -15px -3.5px;
                    background-size: 95px;
                    border-radius: 400px;
                    z-index: 1;
                }
                
                .text-to-center {
                    text-align: center;
                }
                
                .gender-female {
                    
                    width: 60px;
                    height: 60px;
                    position: relative;
                    padding: 25px;
                    border: 2px solid #6B4FA1;
                    border-radius: 400px;
                    background-image: url("https://res.cloudinary.com/hairsnap/image/upload/v1639849413/Latest/female_adbzfv.jpg");
                    background-position: -4px -0.5px;
                    background-size: 70px;
                    
                    z-index: 0;
                }
                .gender-female:hover{
                    transform: scale(1.05);
                    z-index:2;
                }
                
                /*women switch*/
              
                .gender {
                    display: flex;
                    
                }
                .mobile-nav {
                    width: 100%;
                }
                
                @media (max-width: 992px) {
                    .nav-header {
                        margin-left: 50px;
                    }
                }
                
                .btn-switch1 {
                    width: max-content;
                    margin-top: 4px;
                }
                
                .btn-switch1:after {
                    background-color: #6B4FA1;
                }
                
                .btn-switch2 {
                    background-image: url('/src/images/girl-img.png');
                    background-repeat: no-repeat;
                    background-position: 10px 2px;
                    height: 3rem;
                    width: 3rem;
                    margin-top: 4px;
                }
                
                .btn-nav {
                    background-color: #6B4FA1;
                    color: #fff;
                }
                
                .navbar-nav {
                    text-align: center;
                    font-size: large;
                }
                
                .navbar-toggler:focus {
                    box-shadow: none;
                }
                
                .pagination {
                    justify-content: center;
                }
                
                .btn-page {
                    border-radius: 25px;
                    margin-left: 0.5rem;
                }
                
                .center {
                    text-align: center;
                    justify-content: center;
                }
                
                .navbar-toggler {
                    margin-top: -0.5rem;
                }
                
                .nav-mencut {
                    position: relative;
                    left: 23rem;
                    top: 5px;
                }
                
                .page-link {
                    border-radius: 1rem;
                }
                
                .page-item:focus {
                    box-shadow: none;
                }
                
                .nav-header {
                    margin-left: 1rem;
                    justify-content: center;
                }
                
                #switch {
                    justify-content: center;
                    margin-right: 2rem;
                }
                
                .nav-img h4 {
                    font-weight: 500;
                    padding: 0.5rem;
                    margin-left: 2rem;
                }
                
                .nav-link {
                    font-weight: bold;
                    padding: 20px 0px;
                    margin: 0px 5px;
                }
                
                p {
                    font-size: 2rem;
                }
                
                .nav-pills .nav-link.active,
                .nav-pills .show>.nav-link {
                    color: #fff;
                    background-color: $theme-colour;
                }
                
                .show {
                    display: block;
                }
                
                a {
                    color: unset;
                    text-decoration: none;
                }
                
                a:hover {
                    color: unset;
                }
                
                .nav-link-tab1 {
                    color: #6B4FA1;
                    background-color: rgba(255, 255, 255, 0.726);
                }
                
                .nav-link-tab2 {
                    color: #383838;
                    background-color: $header-color;
                    margin-left: 2px;
                }
                
                html {
                    scroll-behavior: smooth;
                }
                /*header-section*/
                /* Title Format */
                
                .sectonheader {
                    position: relative;
                    top: 5rem;
                }
                
                h4 {
                    font-weight: 600;
                    font-size: 1.5rem;
                    text-align: center;
                    margin-top: 5px;
                    color: #6B4FA1;
                    font-family: 'Poppins', sans-serif;
                }
                
                .frontholder {
                    height: fit-content;
                    width: 15px;
                    background-color: #6B4FA1;
                    position: relative;
                }
                
                .title {
                    text-align: left;
                    justify-content: left;
                    width: 100%;
                    height: 75px;
                    margin-bottom: 30px;
                    animation-name: titleIn;
                    animation-duration: 2s;
                    animation-timing-function: ease-in-out;
                }
                /* Grid Format */
                /*Formats the text inside the image*/
                
                .img-fluid {
                    border-radius: 10px 10px 10px 10px;
                    -webkit-animation-duration: 1s;
                    animation-duration: 3s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    -webkit-animation-iteration-count: infinite;
                    
                }
                @keyframes bounce {
                    0%, 100%, 20%, 50%, 80% {
                        -webkit-transform: translateY(0);
                        -ms-transform:     translateY(0);
                        transform:         translateY(0)
                    }
                    40% {
                        -webkit-transform: translateY(-20px);
                        -ms-transform:     translateY(-20px);
                        transform:         translateY(-20px)
                    }
                    60% {
                        -webkit-transform: translateY(-15px);
                        -ms-transform:     translateY(-15px);
                        transform:         translateY(-15px)
                    }
                }
                span {  
               
                  background-color: rgba(255, 0, 0, 0);  
               
                  line-height: 180px;
                  text-align: center;
                  text-transform: uppercase;
                 
                  color: white;
                }
                .img-fluid:hover {
                  cursor: pointer;
                  animation-name: bounce;
                  -moz-animation-name: bounce;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                .sh:hover{
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                .card-text {
                    margin-top: 3px;
                    font-size: large;
                    text-align: center;
                }
              
                .card {
                    background: #00000000 !important;
                    border-radius: 10px;
                    border: #00000000;
                }
               
                /*Footer*/
                
                .footer {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    align-content: flex-start;
                }
                .active{
                    color: #6B4FA1 !important;
                }
                .footer__tagline-title {
                    color: #20263f;
                    font-size: 18px;
                    font-family: Lora;
                }
                
                .footer__tagline {
                    font-style: italic;
                    color: #c8882d;
                }
                
                .headertop {
                    height: 25px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                }
                .color-blue {
                    color: #6B4FA1;
                }
                
                .headertop {
                    background: -moz-linear-gradient(top, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
                    /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* Opera 11.10+ */
                    background: linear-gradient(to bottom, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* W3C */
                }
                
                .sidescrollbutton {
                    height: 40px;
                    transform: rotateZ(0deg);
                    background: -moz-linear-gradient(top, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
                    /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, $header-color 0%, rgba(255, 255, 255, 0) 100%);
                    /* Opera 11.10+ */
                    background: linear-gradient(to bottom, $header-color 100%, rgba(255, 255, 255, 0) 0%);
                    /* W3C */
                }
                /* Bottom to top button */
                
                .bottom-top {
                    color: #6B4FA1;
                    font-size: large;
                    font-weight: 700;
                    font-style: oblique;
                }
                
                .section-text {
                    font-weight: bold;
                    margin-left: 1rem;
                    float: left;
                }
                
                .float-left {
                    font-weight: bold;
                    margin-left: 1rem;
                    float: left;
                }
                
                .btn-hide {
                    background-color: rgba(255, 255, 255, 0);
                }
                a:hover{
                    color: #e5e5e5;
                }
                .btn-hide,
                .btn:focus {
                    box-shadow: none;
                }
                .btn:hover{
                    color: #cfcfcf;
                }
                .modal {
                    backdrop-filter: blur(10px);
                }
                
                .btn-close {
                    border-radius: 15px;
                }
                
                .modal-content {
                    border-radius: 15px;
                }
                
                .zoom-img {
                    cursor: zoom-in;
                }
                
                .hairsnap {
                    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 2rem;
                    font-family: "Source Sans Pro", sans-serif;
                    animation: glow 2500ms infinite 200ms, ;
                    @keyframes glow {
                        40% {
                            text-shadow: 0 0 8px rgba(92, 92, 92, 0.507);
                        }
                    }
                }
                @media (max-width:991px) {
                    .hairsnap {
                     font-size: 2rem;
                     margin-bottom: 5px;
                    }}

          
.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#6B4FA1;
 
 text-align:center;
 padding:32px 0;
 
}
.copyright-text{
    
   font-size: small;
    text-align: center;
    
}
.fixedButton{
    position: fixed;
    bottom: 35px;
    right: 0rem; 
    padding: 0px;
}
.gesture-left{
    top: 0.2rem;
    position: relative;
    margin-right: 2rem;
   
    .arrow{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-20%,-50%);
      transform: rotate(-90deg);
    }
  
   
    .arrow span{
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 4px solid #6B4FA1;
        border-right: 4px solid #6B4FA1;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
        }
    }
}

.gesture-right{
    top: 0.4rem;
    left: 0.9rem;
    margin-left: 2rem;
    position: relative;
   
    .arrow{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-20%,-50%);
      transform: rotate(90deg);
    }
    .arrow span{
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 4px solid #6B4FA1;
        border-right: 4px solid #6B4FA1;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
        }
    }
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:rgb(27, 27, 27)
}
.mini-footer p a {
 color:#e4e4e4
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
     
  padding-left:0
 }
}
  .close{
      border: none;
 
    }
 .close:focus{
     visibility: hidden;
 }   

 .none{
     display: none;
 }
 #error{
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}


#overlayer{
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    background:#ffffff00
}
.main-item{
    padding-top:10px;
    padding:10px;
    background-color:#fff;
    width:100%;
    z-index:3
}
.background-masker{
    background-color:#fff;
    position:absolute
}
.cards{
    border:0;
    border-radius:25px
}
.btn-divide-left{
    top:0;
    left:15%;
    height:100%;
    width:30%
}
@keyframes placeHolderShimmer{
    0%{
        background-position:-800px 0
    }
    100%{
        background-position:800px 0
    }
}
.animated-background{
    animation-duration:.5s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-name:placeHolderShimmer;
    animation-timing-function:linear;
    background-color:#f6f7f8;
    background:linear-gradient(to right,#eee 8%,#6a4fa175 28%,#eee 33%);
    background-size:800px 104px;
    height:70px;
    position:relative;
}
h6{
    visibility:hidden;
}
.n{
    overflow-x:hidden;
}
.btns{
    border:0;
    border-radius:2rem;
    padding:1rem;
    height:1rem;
    margin:.5rem;
}
.txt{
    font-size:large;
    text-align: justify;
}
.txt-bold{
    font-weight:600;
    color:#6b4fa1;
}

.f-gender-male{
    width:80px;
    height:80px;
    position:relative;
    left:1rem;
    border-radius:400px;
    border:2px solid #6b4fa1;
    background-position:-10px -3.5px;
    background-size:0;
    z-index:1;
    transform:scale(1.1);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    
}
.f-gender-female{
    position:relative;
    left:1rem;
    border-radius:400px;
    border:2px solid #6b4fa1;
    background-position:-10px -3.5px;
    background-size:0;
    z-index:0;
    transform:scale(1.1);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}
.f-gender-female:hover{
    transform:scale(1.2);
    z-index:2;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}
.f-gender-male:hover{
    transform:scale(1.2);
    z-index:2;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

.gender{
    display:flex;
    justify-content: center;
    margin-right: 2rem;
}
.welcomebox{
    align-items:center;
    width:0;
    height:max-content;
    float:left;
}
.sidebox{
    height:20rem;
    width:40rem;
    position:relative;
    background-color:#fff;
}
.img-logo{
    pointer-events:none;
    width:650px;
    margin:-1rem;
}
@media(min-width:200px){
    .img-logo{
        pointer-events:none;
        width:300px;
    }
}
.txt{
    font-size:large;
    text-align: justify;
}
.txt-bold{
    font-weight:600;
    color:#6b4fa1;
}
.bg-welcome{
    background:#fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.btn-outline-primary{
    border:2px #6b4fa1 solid!important;
    color:#6b4fa1!important;
}
.btn-outline-primary:hover{
    background:#6b4fa1!important;
    color:#e5e5e5!important;
}
.welcomelogo{
    text-align: center;
    width:2rem;
    height:1rem;
    
}