html{
    width: 100%;
block-size: fit-content;
}
.f-gender-male{
    width:80px;
    height:80px;
    position:relative;
    left:1rem;
    border-radius:400px;
    border:2px solid #6b4fa1;
    background-position:-10px -3.5px;
    background-size:0;
    z-index:1;
    transform:scale(1.1);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    
}
.f-gender-female{
    width:80px;
    height:80px;
    position:relative;
    left:1rem;
    border-radius:400px;
    border:2px solid #6b4fa1;
    background-position:-10px -3.5px;
    background-size:0;
    z-index:0;
    transform:scale(1.1);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}
.f-gender-female:hover{
    transform:scale(1.2);
    z-index:2;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}
.f-gender-male:hover{
    transform:scale(1.2);
    z-index:2;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

.gender{
    display:flex;
    justify-content: center;
    margin-right: 2rem;
}
.welcomebox{
    align-items:center;
    width:0;
    height:max-content;
    float:left;
}
.sidebox{
    height:20rem;
    width:40rem;
    position:relative;
    background-color:#fff;
}
.img-logo{
    pointer-events:none;
    width:650px;
    margin:-1rem;
}
@media(min-width:200px){
    .img-logo{
        pointer-events:none;
        width:300px;
    }
}
.txt{
    font-size:large;
    text-align: justify;
}
.txt-bold{
    font-weight:600;
    color:#6b4fa1;
}
.bg-welcome{
    background:#fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.btn-outline-primary{
    border:2px #6b4fa1 solid!important;
    color:#6b4fa1!important;
}
.btn-outline-primary:hover{
    background:#6b4fa1!important;
    color:#e5e5e5!important;
}
